@model IAmBacon.Admin.ViewModels.User.DeleteUserViewModel

<h1>Delete</h1>
<p>
    <strong>Are you sure you want to delete this?</strong>
</p>
<form asp-controller="User" asp-action="Delete" method="post">
    <fieldset>
        <legend>User</legend>
        <div>
            <label asp-for="Name"></label>
        </div>
        <div>
            <input asp-for="Name" type="text" readonly="readonly" />
        </div>
        <div>
            <label asp-for="Email"></label>
        </div>
        <div>
            <input asp-for="Email" type="text" readonly="readonly" />
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Delete" />
    </p>
</form>
<a asp-controller="User" asp-action="Index">Back to list</a>