@model IAmBacon.Model.Entities.Post
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    Delete</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        Are you sure you want to delete this post?
    </p>    
    <h3>@Model.Title</h3>
    <p>
        <input type="submit" value="Delete" />
    </p>
}
