//
// Colour variables.
// --------------------------------------------------

// Base colours. These should not be referenced in the css directly.
// ------------------------

// Flat Design #2 - http://www.colourlovers.com/palette/2907925/Flat_Design_2
$take-your-desire: #ff6766;
$ill-stay-here: #60646d;
$marshmallow: #fffff7;
$cursive: #83d6de;
$fern: #97ce68;

// Core
$black: #000000;
$mine-shaft: #333333;
$white: #ffffff;
$white-smoke: #f5f5f5;
$davys-grey: #555555;

// Grey pallette
$nobel: #999999;
$alto: #dfdfdf;
$very-light-grey: #cccccc;
$desert-storm: #f5f4f3;

// Examined Living - http://www.colourlovers.com/palette/3175417/Examined_Living
$yeah-right: #a0f601;
$cloudy-blue: #ecf0f1;
$steel-real: #768a92;
$have-a-go: #687e87;
$examined: #5e7078;

// Misc
$article-link: #38a7bb;

// Global colours.
// Globally used colour variables.
// ------------------------
$base-color: $davys-grey;
$base-background-color: $white;
$link-hover-colour: $cursive;
