//
// Component variables.
// Variables should use the following convention::after
// $component-state-property-size
// --------------------------------------------------

/**
 * Article Content
 */
$article-content-bullet-bg: $cursive !default;
$article-content-table-row-bg: #f8f8f8 !default; // TODO

/**
 * Article
 */
$article-color: $mine-shaft !default;
$article-title-hover-color: $nobel !default;
$article-title-link-hover-color: inherit !default;

/**
 * Aside Nav
 */
$aside-nav-title-color: $marshmallow !default;
$aside-nav-title-bg: $ill-stay-here !default;
$aside-nav-count-color: $nobel !default;

/**
 * Author
 */
$author-color: $marshmallow !default;
$author-title-color: inherit !default;

/**
 * Button
 */
$btn-font-size: 1.125 * $base-font-size !default;
$btn-tag-bg: $cursive !default;
$btn-tag-color: $marshmallow !default;
$btn-tag-hover-bg: darken($cursive, 10%) !default;
$btn-tag-hover-color: $marshmallow !default;

/**
 * Hover
 */
$header-border-color: $ill-stay-here !default;
$header-logo-color: $ill-stay-here !default;
$header-nav-link-color: $ill-stay-here !default;

/**
 * Links list
 */
$links-list-item-border-color: $nobel !default;
$links-list-link-color: $marshmallow !default;

/**
 * Meter
 */
$meter-bg: $desert-storm !default;
$meter-gauge-bg: $cursive !default;

/**
 * Page title
 */
$page-title-bg: $cursive !default;
$page-title-headline-color: $marshmallow !default;
$page-title-subline-color: $white !default;
$page-title-triangle-border-color: $cursive transparent !default;

/**
 * Pagination
 */
$pagination-height: 70px !default;
$pagination-page-width: 70px !default;
$pagination-bg: $desert-storm !default;
$pagination-current-bg: $cursive !default;
$pagination-more-bg: $cursive !default;

/**
 * Tag
 */
$tag-bg: $very-light-grey !default;
$tag-color: $ill-stay-here !default;
$tag-hover-bg: $nobel !default;
$tag-hover-color: $marshmallow !default;
$tag-category-bg: $very-light-grey !default;
$tag-category-color: $ill-stay-here !default;

/**
 * List bullet object
 */
$list-bullet-color: $article-content-bullet-bg !default;

/**
 * Section title utility
 */
$section-title-color: $nobel !default;
