//
// Grid variables.
// Documentation url: https://iambacon.co.uk/styleguide/base/grid
// -----------------------------------------------------------------------------

$screen-sm-min: 768px;  // tablets
$screen-md-min: 992px;  // desktops
$screen-lg-min: 1200px; // large desktops

$screen-xs-max: 767px;  // phones
$screen-sm-max: 991px;  // tablets
$screen-md-max: 1199px; // desktops

$gutter-width: $base-line-height;
$margin-width: 20px;