//
//  IAMBACON STYLES
//  CSS for iambacon website.
// -----------------------------------------------------------------------------

// Base
// ------------------------
@use "base/variables";
@use "base/mixins/base";
@use "base/functions/functions";
@use "base/ground-zero";

// Objects
// ------------------------
@use "objects/lists";

// Components
// ------------------------
@use "components/header";
@use "components/links-list";
@use "components/pagination";
@use "components/page-title";
@use "components/aside-nav";
@use "components/meter";
@use "components/author";
@use "components/buttons";
@use "components/tag";
@use "components/article-content";
@use "components/article";

// Utilities
// ------------------------
@use "utilities/colours" as colours2;
@use "utilities/typography" as typography2;
@use "utilities/floats";
@use "utilities/social";
@use "utilities/display";
@use "utilities/grid" as grid2;
@use "utilities/spacing"; // Spacing must go after grid to avoid specificity problems
@use "base/mixins/breakpoints";
@use "base/mixins/grid";
@use "base/mixins/vertical-rhythm";

// Page
// ------------------------
.g {
  &-landing {
    @include grid.container;

    &-content {
      padding-top: vertical-rhythm.vr-space(1.5);

      @include breakpoints.respond-to(extra-small) {
        @include grid.column(12);
      }

      @include breakpoints.respond-to(medium-up) {
        @include grid.column-no-gutter(7);
      }
    }

    &-aside {
      margin-bottom: vertical-rhythm.vr-space(1);

      @include breakpoints.respond-to(extra-small) {
        @include grid.column(12);
      }

      @include breakpoints.respond-to(medium-up) {
        @include grid.column(5);
        margin-top: vertical-rhythm.vr-space(4.5);
      }
    }
  }
}
