<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width-device-width", "intial-scale=1">
		<title>Blog Landing Page</title>
		<link rel="stylesheet" type="text/css" href="~/Content/less/blog/post.less" media="screen, handheld">
		<link rel="stylesheet" type="text/css" href="~/Content/css/shared/normalize.css" media="screen">
	</head>
	<body>
		<header class="header">
			<a href="#">I Am Blog</a>
            <p>Development within a Bacon context</p>
		</header>
		<div id="content">
			<ol>
				<li>
					<article>
                        <header>
                            <a class="title" href="#">
                                <h2>Building a responsive blog</h2>
                            </a>
                            <time datetime="2012-01-23 09:00">23rd Janurary 2012</time>	
                        </header>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt quia hic similique magni corporis mollitia id unde architecto distinctio eius natus odio dolore ipsa atque aliquid obcaecati minima ab illum sit aspernatur doloribus doloremque repellat magnam nihil cupiditate recusandae minus reprehenderit porro nostrum. Expedita quos ipsam dolores accusamus placeat?</p>
						<footer>
							<ul>
								<li>
									<strong>Tags:</strong>
									<a href="#">CSS3</a>
									<a href="#">HTML5</a>
									<a href="#">RWD</a>
								</li>
								<li>
									<strong>Author:</strong>
									Colin Bacon
								</li>
							</ul>							
						</footer>						
					</article>
				</li>
				<li>
					<article>
                        <header>
                            <a class="title" href="#">
                                <h2>Create a CSS3 Post-it note</h2>
                            </a>
                            <time datetime="2012-01-13 18:23">13th Janurary 2012</time>	
                        </header>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt quia hic similique magni corporis mollitia id unde architecto distinctio eius natus odio dolore ipsa atque aliquid obcaecati minima ab illum sit aspernatur doloribus doloremque repellat magnam nihil cupiditate recusandae minus reprehenderit porro nostrum. Expedita quos ipsam dolores accusamus placeat?</p>
						<footer>
							<ul>
								<li>
									<strong>Tags:</strong>
									<a href="#">CSS3</a>
									<a href="#">HTML5</a>
									<a href="#">Design</a>
								</li>
								<li>
									<strong>Author:</strong>
									Colin Bacon
								</li>
							</ul>							
						</footer>						
					</article>
				</li>
			</ol>
		</div>
		<footer class="footer">
        </footer>
	</body>
</html>