// 
// Grid object. 
// A responsive grid layout system. 
// -------------------------------------------------- 

.grid {
	@include clearfix;	
	padding-left: $margin-width;
	padding-right: $margin-width;
}

.grid-item,
.grid-item--gutter {
	box-sizing: border-box; // TODO: We want to use auto prefixer 
	float: left;
	width: 100%;
}

// Modified grid item with gutter
.grid-item--gutter {
	padding-right: $gutter-width;
}