// Modules and variables
@import "partials/base";

// Partials
@import "partials/html-body";
@import "partials/header";
@import "partials/respond";
@import "partials/code";

// General

article {
	a {
		color: $article-link-colour;

		&:hover {
			text-decoration: underline;
		}
	}	
}

.image-center {
	margin: 0 auto;
	display: block;
}
