@model IAmBacon.ViewModels.Shared.PaginationItemViewModel

@if (Model.IsCurrentPage)
{
    <a class="pagination-page pagination-page--current" href="@Model.Href">@Model.Text</a>
}
else {
    <a class="pagination-page" href="@Model.Href">@Model.Text</a>
}
