@model IAmBacon.ViewModels.PostsViewModel
@section css
{
    @Styles.Render("~/bundles/categoryCss")
}
@section iecss
{
    @Styles.Render("~/bundles/categoryIeCss")
}
<div class="layoutContainer">
    <h1>Recent posts for category '@Model.Title'</h1>

    @Html.DisplayFor(x => x.Posts)
</div>
