@model IAmBacon.ViewModels.PostsViewModel
@section css
{
    @Styles.Render("~/bundles/tagCss")
}
@section iecss
{
    @Styles.Render("~/bundles/tagIeCss")
}
<div class="pageTitle">
    <div class="layoutContainer layoutContainer--visible has-triangle">
        <h1 class="pageTitle-headline pageTitle-headline--sm">Recent posts for tag '@Model.Title'</h1>
    </div>
</div>
<div class="layoutContainer">
    @Html.DisplayFor(x => x.Posts)
</div>
