@model IAmBacon.ViewModels.PostsViewModel
@section css
{
    @Styles.Render("~/bundles/tagCss")
}
@section iecss
{
    @Styles.Render("~/bundles/tagIeCss")
}
<div class="layoutContainer">
    <h1>Recent posts for tag '@Model.Title'</h1>

    @Html.DisplayFor(x => x.Posts)
</div>
