//
// List objects.
// Documentation url: https://styles.iambacon.co.uk/objects/lists/
// -----------------------------------------------------------------------------

.o-listInline {
  > li {
    display: inline-block;
  }
}

.o-listBullet {
  margin-left: 25px;

  > li {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $list-bullet-color;
      margin-right: 13px;
    }
  }
}
