@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Styleguide - I am Bacon</title>
    <link href="~/Content/stylesheets/pages/styleguide/styleguide.css" rel="stylesheet" />
</head>
<body>
    <h1>I am Bacon - Styleguide</h1>
    <section>
        <h2 class="h2">Colours</h2>
        <h3 class="h3">
            <a href="http://www.colourlovers.com/palette/2907925/Flat_Design_2">Flat Design #2</a>
        </h3>
        <ul class="colour-container">
            <li class="colour-item takeYourDesire">
                <h4 class="h4">Take Your Desire</h4>
                <p>#FF6766</p>
                <p>255,103,102</p>
            </li>
            <li class="colour-item illStayHere">
                <h4 class="h4">I'll Stay Here</h4>
                <p>#60646D</p>
                <p>96,100,109</p>
            </li>
            <li class="colour-item colour-item--light marshmallow">
                <h4 class="h4">Marshmallow</h4>
                <p>#FFFFF7</p>
                <p>255,255,247</p>
            </li>
            <li class="colour-item cursive">
                <h4 class="h4">Cursive</h4>
                <p>#83D6DE</p>
                <p>131,214,222</p>
            </li>
            <li class="colour-item fern">
                <h4 class="h4">Fern</h4>
                <p>#97CE68</p>
                <p>151,206,104</p>
            </li>
        </ul>
    </section>
    <section>
        <h2 class="h2">Typography</h2>
        <p>This is the typography for the site.</p>
        <h3 class="h3">Font</h3>
        <p>The font for this site is Lato.</p>
        <h3 class="h3">Headings</h3>
        <p class="h1">Hi I'm Colin</p>
        <p class="h2">Blog</p>
        <p class="h3">Recent posts</p>
        <p class="h4">Abstracting grid implementation with mixins - LESS CSS</p>
        <h3 class="h3">Copy</h3>
        <p>
            Allowing your content to be hosted in a cross-domain IFRAME can make your website vulnerable to
            attacks such as framesniffing and clickjacking. Now MVC5 prevents this by default.
        </p>
        <blockquote>
            <p>
                ...a malicious technique of tricking a Web user into clicking on something different from what the user
                perceives they are clicking on, thus potentially revealing confidential information or taking control of
                their computer while clicking on seemingly innocuous web pages.
            </p>
        </blockquote>
    </section>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
</body>
</html>
