//
// Base
// Imports all variables and reset styles.
// --------------------------------------------------

// Compass
// ------------------------
@import "compass";

// Variables
// ------------------------
@import "colours";
@import "typography";
@import "grid";
$ie-only: false !default;

// Reset
// ------------------------
@import "normalize";

// Mixins
// ------------------------
@import "mixins/base";

// Functions
// ------------------------
@import "functions/functions";

// putting my reset needs here for now, until I decide what to do.
ul,
ol {
	list-style-type: none;
}

ul,
ol {
	padding: 0;
}

ul,
ol,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $base-font-family;
	color: $base-color;
	line-height: $base-line-height;
	background-color: $base-background-color;
	@include font-size;
}

blockquote {
	font-style: italic;
}
