//
// Code
// Base styles for code snippets.
// --------------------------------------------------
/// <reference path="../base/_variables.scss" />
/// <reference path="../base/mixins/_base.scss" />

pre,
code {
    font-family: Monaco, Consolas, monospace;
}

 pre {
	background-color: $white-smoke;
	color: $mine-shaft;
	padding: vr-space();
	overflow: auto;
    border: 1px solid $very-light-grey;
    font-size: 16px;

	code {
		background-color: $white-smoke;
		padding: 0;
		border: none;
	}
 }

 code {
	background-color: rgba($fern, .4);
	padding: 0 .2em;
	border: 1px solid $fern;
 }