//
// Colour variables.
// --------------------------------------------------

// Base colours. These should not be referenced in the css directly.
// ------------------------

// Flat Design #2 - http://www.colourlovers.com/palette/2907925/Flat_Design_2
 $take-your-desire: #FF6766;
 $ill-stay-here: 	#60646D;
 $marshmallow: 		#FFFFF7;
 $cursive: 			#83D6DE;
 $fern: 			#97CE68;

 // Core
 $black:		#000000;
 $white:		#FFFFFF;
 $white-smoke:	#EEEEEE;

 // Grey pallette
 $nobel:	#999999;

 