@use "../base/colours";

//
// Helper classes for colours.
// Documentation url: https://styles.iambacon.co.uk/utilities/colours/
// -----------------------------------------------------------------------------

.takeYourDesire {
  background-color: colours.$take-your-desire;
}

.illStayHere {
  background-color: colours.$ill-stay-here;
}

.marshmallow {
  background-color: colours.$marshmallow;
}

.cursive {
  background-color: colours.$cursive;
}

.fern {
  background-color: colours.$fern;
}

.cloudyBlue {
  background-color: colours.$cloudy-blue;
}

.alto {
  background-color: colours.$alto;
}

.textMarshmallow {
  color: colours.$marshmallow;
}
