//
// Helper classes for colours.
// Documentation url: https://styles.iambacon.co.uk/utilities/colours/
// -----------------------------------------------------------------------------

.takeYourDesire {
  background-color: $take-your-desire;
}

.illStayHere {
  background-color: $ill-stay-here;
}

.marshmallow {
  background-color: $marshmallow;
}

.cursive {
  background-color: $cursive;
}

.fern {
  background-color: $fern;
}

.cloudyBlue {
  background-color: $cloudy-blue;
}

.alto {
  background-color: $alto;
}

.textMarshmallow {
  color: $marshmallow;
}
