//
// Display helper classes.
// Documentation url: https://styles.iambacon.co.uk/utilities/display/
// -----------------------------------------------------------------------------

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}
