@use "../base/mixins/breakpoints";
@use "../base/mixins/grid";
@use "../base/typography";

//
// Helper classes for grids and layouts.
// Documentation url: https://styles.iambacon.co.uk/utilities/grid/
// -----------------------------------------------------------------------------

.layoutContainer {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: typography.$base-line-height * 0.5;
  padding-right: typography.$base-line-height * 0.5;
  box-sizing: border-box;

  &--visible {
    overflow: visible;
  }
}

.articleLayoutContainer {
  @include breakpoints.respond-to(small-up) {
    @include grid.push;
    @include grid.pull;
  }
}

// Helper class for a grid container.
.container {
  @include grid.container;
}

// Helper class for a half-width grid item.
.gridHalf {
  @include breakpoints.respond-to(extra-small) {
    @include grid.column(12);
  }

  @include breakpoints.respond-to(small-up) {
    @include grid.column(6);
  }
}
