//
// Helper classes for social media.
// Documentation url: https://styles.iambacon.co.uk/utilities/social/
// -----------------------------------------------------------------------------

.social {
  background-image: url(../images/social.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  display: block;

  &.linkedIn {
    background-position: 0 -33px;
  }

  &.google {
    background-position: 0 0;
  }

  &.rss {
    background-position: 0 -66px;
  }

  &.twitter {
    background-position: 0 -99px;
  }
}
