//
// Helper classes for table based layouts.
// --------------------------------------------------

.dt {
	display: table;
	width: 100%;
}

.dt-top {
	display: table-header-group;
}

.dt-bottom {
	display: table-footer-group;
}