@model IAmBacon.Admin.ViewModels.DeleteCategoryViewModel

<h1>Delete a category</h1>
<p>
    <strong>Are you sure you want to delete this?</strong>
</p>
<fieldset>
    <legend>Category</legend>
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" readonly="readonly" />
    <label asp-for="DateModified">Date Modified</label>
    <input asp-for="DateModified" type="text" readonly="readonly"/>
    <label asp-for="DateCreated">Date Created</label>
    <input asp-for="DateCreated" type="text" readonly="readonly"/>
</fieldset>
<a asp-controller="Category" asp-action="Index">Back to list</a>
