@model IAmBacon.Admin.ViewModels.Category.RetrieveCategoryViewModel

<h1>Category details</h1>
<fieldset>
    <legend>Category</legend>
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" readonly="readonly" />
    <label asp-for="Active">Active</label>
    <input asp-for="Active" type="checkbox" disabled />
</fieldset>
<a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a asp-controller="Category" asp-action="Index">Back to List</a>
