//
// Helper classes for colours.
// --------------------------------------------------

.takeYourDesire {
	background-color: $take-your-desire;
}

.illStayHere {
	background-color: $ill-stay-here;	
}

.marshmallow {
	background-color: $marshmallow;
}

.cursive {
	background-color: $cursive;
}

.fern {
	background-color: $fern;
}