//
// Margin helper classes.
// Based on line height for vertical rythym
// --------------------------------------------------
.m-r--full {
	margin-right: $base-line-height;
}

.m-b--full {
	margin-bottom: $base-line-height;
}

.m-t--full {
	margin-top: $base-line-height;
}

.m-tb--full {
	margin-top: $base-line-height;
	margin-bottom: $base-line-height;
}