@model IAmBacon.ViewModels.Home.HomeViewModel
@section css
{
    @Styles.Render("~/bundles/homeCss")
}
@section iecss
{
    @Styles.Render("~/bundles/homeIeCss")
}
@section belowTheFoldCss
{

}
<div class="pageTitle">
    <h1 class="layoutContainer layoutContainer--visible triangle">
        <span class="pageTitle-text">Hi I'm Colin</span>
    </h1>
</div>
<div class="cloudyBlue">
    <div class="layoutContainer layoutContainer--visible profile">
        @*<img class="profile-image" alt="Colin Bacon - Web Developer" src="/Content/images/colin-bacon.jpg?1" />*@
        <p class="profile-desc">
            I am a web developer, currently working in a C# ASP.NET environment.  This is my <a class="link" href="/blog">blog.</a>
            I write about things that interest me.  I'm friendly so get in <a class="link" href="mailto:colin@iambacon.co.uk">touch</a>.
        </p>
    </div>
</div>
@if (Model.ShowBlogPosts)
{
    <section class="alto co">
        <div class="pageSection layoutContainer">
            <h2 class="pageSection-title">Blog</h2>
            @Html.DisplayFor(x => x.BlogPosts)
        </div>
    </section>
}