/* line 1, ../sass/partials/_html-body.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/partials/_html-body.scss */
body {
  font-family: "Lato", sans-serif;
  color: #333333;
  line-height: 2;
  background-color: white;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 14, ../sass/partials/_html-body.scss */
h1,
.h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
@media screen and (min-width: 54.1rem) {
  /* line 14, ../sass/partials/_html-body.scss */
  h1,
  .h1 {
    font-size: 36px;
    font-size: 3.6rem;
  }
}

/* line 22, ../sass/partials/_html-body.scss */
h2 {
  font-size: 20px;
  font-size: 2rem;
}
@media screen and (min-width: 54.1rem) {
  /* line 22, ../sass/partials/_html-body.scss */
  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

/* line 31, ../sass/partials/_html-body.scss */
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

/* line 37, ../sass/partials/_html-body.scss */
label,
input[type=submit] {
  display: block;
  margin-top: 1em;
}

/* line 45, ../sass/partials/_html-body.scss */
input[type=text],
input[type=email],
input[type=url],
textarea {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 54, ../sass/partials/_html-body.scss */
input[type=text],
input[type=email],
input[type=url] {
  height: 2em;
}

/* line 59, ../sass/partials/_html-body.scss */
textarea {
  height: 7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 65, ../sass/partials/_html-body.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 69, ../sass/partials/_html-body.scss */
a:hover {
  color: #63b7f6;
}

/* line 74, ../sass/partials/_html-body.scss */
blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 20px;
  font-size: 2rem;
}

/* line 80, ../sass/partials/_html-body.scss */
.wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 1440px;
}

/* line 87, ../sass/partials/_html-body.scss */
.content,
.header {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 92, ../sass/partials/_html-body.scss */
.link {
  text-decoration: underline;
}

/*==========================================================
 * Header - Posts layout header
 *==========================================================*/
/* line 4, ../sass/partials/_header.scss */
.header {
  overflow: hidden;
  border-bottom: 2px solid #333333;
}

/* line 9, ../sass/partials/_header.scss */
.header h1 {
  font-family: 'Rokkitt', serif;
  color: #333333;
}

/*==========================================================
 * Respond - Comment form
 *==========================================================*/
/* line 4, ../sass/partials/_respond.scss */
.respond {
  padding-bottom: 3em;
}

/*==========================================================
 * Code - Example code within posts.
 *==========================================================*/
/* line 5, ../sass/partials/_code.scss */
pre {
  background-color: #333333;
  color: #FFFFFF;
  padding: 16px;
  overflow: auto;
}
/* line 11, ../sass/partials/_code.scss */
pre code {
  background-color: #333333;
  padding: 0;
  border: none;
}

/* line 18, ../sass/partials/_code.scss */
code {
  background-color: #F8F8FF;
  padding: 0 .2em;
  border: 1px solid #DEDEDE;
}

/* line 13, ../sass/post.scss */
article a {
  color: #63b7f6;
}
/* line 16, ../sass/post.scss */
article a:hover {
  text-decoration: underline;
}

/* line 22, ../sass/post.scss */
.image-center {
  margin: 0 auto;
  display: block;
}
