//
// Article content component.
// Documentation url: https://styles.iambacon.co.uk/components/article-content/
// -----------------------------------------------------------------------------

.c-articleContent {
  h2,
  h3 {
    margin: {
      top: $base-line-height;
      bottom: $base-line-height;
    }
  }

  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }

  // This needs to be replaced with something better!
  // Added in haste for "My desktop build" post
  table {
    tr:nth-child(2n) {
      background-color: $article-content-table-row-bg;
    }

    tr td:first-child {
      width: 120px;
    }

    td {
      padding: 5px;
    }
  }

  ul {
    margin-left: 25px;

    li {
      position: relative;

      /**
       * Bulleted list styling
       */
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $article-content-bullet-bg;
        margin-right: 13px;
      }
    }
  }
}
