@use "../base/components";
@use "../base/mixins/breakpoints";
@use "../base/mixins/grid";
@use "../base/mixins/vertical-rhythm";
@use "../base/typography";

//
// The author component.
// Documentation url: https://styles.iambacon.co.uk/components/author/
// -----------------------------------------------------------------------------

.c-author {
  color: components.$author-color;
  text-align: center;
  position: relative;

  margin: {
    top: vertical-rhythm.vr-space(1);
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  @include breakpoints.respond-to(small-up) {
    @include grid.column(10);
    @include grid.push;
    @include grid.pull;
    text-align: left;
    margin-top: 10px;
  }

  &-title {
    text-transform: uppercase;
    display: block;
    color: components.$author-title-color;
    font-size: typography.$h3-font-size;

    margin: {
      top: vertical-rhythm.vr-space(0.5);
    }
  }

  &-image {
    height: auto;
    width: 100%;
    max-width: 140px;
    border-radius: 50%;

    @include breakpoints.respond-to(small-up) {
      float: left;
      margin-right: vertical-rhythm.vr-space(1);
    }
  }

  &-desc {
    margin: {
      bottom: vertical-rhythm.vr-space(0.5);
    }
  }

  &-links {
    @include breakpoints.respond-to(small-up) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
