//
// Buttons component.
// Documentation url: https://styles.iambacon.co.uk/components/buttons/
// -----------------------------------------------------------------------------

.c-btn {
  // base button styles
  border-radius: 10px;
  font-size: $btn-font-size;

  padding: {
    top: vr-space(0.25);
    bottom: vr-space(0.25);
    left: vr-space(0.5);
    right: vr-space(0.5);
  }

  &--tag {
    // modifier tag button
    background-color: $btn-tag-bg;
    color: $btn-tag-color;
    transition: background-color 0.1s linear;

    &:hover,
    &:active {
      background-color: $btn-tag-hover-bg;
      color: $btn-tag-hover-color;
    }
  }

  &--full {
    // modifier full width
    display: block;
    text-align: center;
  }
}
