@use "../base/components";
@use "../base/mixins/vertical-rhythm";

//
// Buttons component.
// Documentation url: https://styles.iambacon.co.uk/components/buttons/
// -----------------------------------------------------------------------------

.c-btn {
  // base button styles
  border-radius: 10px;
  font-size: components.$btn-font-size;

  padding: {
    top: vertical-rhythm.vr-space(0.25);
    bottom: vertical-rhythm.vr-space(0.25);
    left: vertical-rhythm.vr-space(0.5);
    right: vertical-rhythm.vr-space(0.5);
  }

  &--tag {
    // modifier tag button
    background-color: components.$btn-tag-bg;
    color: components.$btn-tag-color;
    transition: background-color 0.1s linear;

    &:hover,
    &:active {
      background-color: components.$btn-tag-hover-bg;
      color: components.$btn-tag-hover-color;
    }
  }

  &--full {
    // modifier full width
    display: block;
    text-align: center;
  }
}
