@use "../base/components";
@use "../base/mixins/breakpoints";
@use "../base/mixins/font";
@use "../base/typography";

//
// Header component.
// Documentation url: https://styles.iambacon.co.uk/components/header/
// -----------------------------------------------------------------------------

.c-header {
  border-bottom: 10px solid components.$header-border-color;

  @include breakpoints.respond-to(extra-small) {
    border-bottom-width: 5px;
  }

  &-logo {
    @include font.font-size(typography.$h2-font-size);
    color: components.$header-logo-color;
    float: left;

    @include breakpoints.respond-to(extra-small) {
      @include font.font-size(typography.$h3-font-size);
      width: 100%;
    }
  }

  &-nav {
    float: right;

    @include breakpoints.respond-to(extra-small) {
      float: left;
    }

    &-link {
      @include font.font-size(
        18px
      ); // Todo this isn't a standard size.  Need to sort.
      line-height: 4; // magic number need to sort.
      color: components.$header-nav-link-color;
      margin-left: typography.$base-line-height;

      @include breakpoints.respond-to(extra-small) {
        line-height: 2;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
