//
// Links list component.
// Documentation url: https://styles.iambacon.co.uk/components/links-list/
// -----------------------------------------------------------------------------

.c-linksList {
  @include container;

  &-items {
    @include respond-to(extra-small) {
      @include column(12);
    }

    @include respond-to(small) {
      @include column(6);
    }

    @include respond-to(medium-large) {
      @include column(4);
    }

    &--posts {
      @include respond-to(medium-large) {
        padding-left: $base-line-height * 0.5;
        padding-right: $base-line-height * 0.5;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    &--social {
      @include respond-to(medium-large) {
        text-align: right;
      }
    }
  }

  &-item {
    border-bottom: 1px solid rgba($links-list-item-border-color, 0.8);
    padding-top: $base-line-height;
    padding-bottom: $base-line-height * 0.5; // TODO: Should this be a utility or mixin (padding)?
  }

  &-link {
    color: $links-list-link-color;
    overflow: hidden;
    display: inline-block;
    height: $base-line-height * 2;
  }
}
