//
// Meter component.
// Documentation url: https://iambacon.co.uk/styleguide/components/meter
// -----------------------------------------------------------------------------

.meter {
  display: block;
  background: $desert-storm;
  height: 7px;
  width: 100%;

  &-gauge {
    display: inherit;
    background-color: $cursive;
    text-indent: -9999px; // hide the text
    height: inherit;
    overflow: hidden;
  }
}
