@use "../base/components";
@use "../base/mixins/clearfix";
@use "../base/mixins/font";
@use "../base/typography";

//
// Pagination component.
// Documentation url: https://styles.iambacon.co.uk/components/pagination/
// -----------------------------------------------------------------------------

.c-pagination {
  @include clearfix.clearfix;
  clear: both;

  &-page,
  &-more {
    @include font.font-size(typography.$h4-font-size);
    background-color: components.$pagination-bg;
    float: left;
    margin-right: 1px;
    height: components.$pagination-height;
    line-height: components.$pagination-height;
    text-align: center;
    transition: all 0.25s ease-out;

    &:hover {
      color: inherit;
    }
  }

  &-page {
    width: components.$pagination-page-width;

    &:hover {
      font-weight: 700;
    }

    &--current {
      background-color: components.$pagination-current-bg;
    }
  }

  &-more {
    font-weight: 700;
    width: 100%;
    background-color: components.$pagination-more-bg;
    text-transform: uppercase;
  }
}
