//
// Page section component.
// Documentation url: https://iambacon.co.uk/styleguide/components/page-section
// -----------------------------------------------------------------------------

.pageSection {
    padding-top: $base-line-height;
    padding-bottom: $base-line-height * 3;

    &-title {
        color: $nobel;
        @include h3;
        text-transform: uppercase;
        display: inline-block;
    }
}