@use "../base/components";
@use "../base/mixins/breakpoints";
@use "../base/mixins/clearfix";
@use "../base/mixins/font";
@use "../base/mixins/grid";
@use "../base/typography";
@use "../base/mixins/vertical-rhythm";

//
// Pagination component.
// Documentation url: https://styles.iambacon.co.uk/components/pagination/
// -----------------------------------------------------------------------------

.c-pagination {
  @include clearfix.clearfix;
  clear: both;

  &-pages,
  &-more {
    @include grid.container;
    margin-bottom: vertical-rhythm.vr-space(1);

    @include breakpoints.respond-to(extra-small) {
      @include grid.column(12);
    }

    @include breakpoints.respond-to(medium-up) {
      @include grid.column-no-gutter(6);
    }
  }

  &-page,
  &-moreLink {
    @include font.font-size(typography.$h4-font-size);
    background-color: components.$pagination-bg;
    float: left;
    margin-right: 1px;
    height: components.$pagination-height;
    line-height: components.$pagination-height;
    text-align: center;
    transition: all 0.25s ease-out;

    &:hover {
      color: inherit;
    }
  }

  &-page {
    width: components.$pagination-page-width;

    &:hover {
      font-weight: 700;
    }

    &--current {
      background-color: components.$pagination-current-bg;
    }
  }

  &-moreLink {
    font-weight: 700;
    width: 100%;
    background-color: components.$pagination-more-bg;
    text-transform: uppercase;
  }
}
