@use "../base/components";
@use "../base/mixins/breakpoints";
@use "../base/mixins/font";
@use "../base/mixins/line-height";
@use "../base/typography";

//
// Page title component.
// Documentation url: https://styles.iambacon.co.uk/components/page-title/
// -----------------------------------------------------------------------------

.c-pageTitle {
  background-color: components.$page-title-bg;
  position: relative;

  &-headline {
    @include font.font-size(typography.$h1-font-size);
    @include line-height.line-height-proportional;
    color: components.$page-title-headline-color;
    font-weight: 700;
    margin: 0;
    padding-top: typography.$base-line-height;
    padding-bottom: typography.$base-line-height;
    text-align: center;
    display: block;

    @include breakpoints.respond-to(extra-small) {
      @include font.font-size(typography.$h2-font-size);
    }

    &--sm {
      @include breakpoints.respond-to(extra-small) {
        @include font.font-size(typography.$h3-font-size);
      }
    }
  }

  &-subline {
    @include font.font-size(typography.$h3-font-size);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: typography.$base-line-height;
    text-align: center;
    color: components.$page-title-subline-color;

    @include breakpoints.respond-to(extra-small) {
      @include font.font-size(typography.$h4-font-size);
    }
  }
}

// State
.has-triangle {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 80px;
    border-width: 24px 24px 0;
    border-style: solid;
    border-color: components.$page-title-triangle-border-color;
    z-index: 1;

    @include breakpoints.respond-to(extra-small) {
      border-width: 18px 18px 0;
      bottom: -18px;
    }
  }
}
