//
// Tag component.
// Documentation url: https://iambacon.co.uk/styleguide/components/tag
// -----------------------------------------------------------------------------

.c-tag {
  background-color: $very-light-grey;
  color: $ill-stay-here;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  transition: background 0.25s ease-out, color 0.25s ease-out;

  &:hover {
    color: $marshmallow;
    background-color: $nobel;
  }

  &--category {
    background-color: $very-light-grey;
    color: $ill-stay-here;
  }
}
