//
// Blog landing page.
// --------------------------------------------------

// Base
// ------------------------
@import "../../base/base";

// Objects
// ------------------------
@import "../../objects/lists";

// Components
// ------------------------
@import 
    "../../components/header",
    "../../components/footer",
    "../../components/links-list",
    "../../components/aside-nav",
    "../../components/page-title";

// Utilities
// ------------------------
@import 
    "../../utilities/colours",
    "../../utilities/grid",
    "../../utilities/typography",
    "../../utilities/social",
    "../../utilities/display",
    "../../utilities/margin";

// Page
// ------------------------
.g-landing {
    @include container;

    &-content {
        padding-top: vr-space(1.5);

        @include respond-to(extra-small) {
            @include column(12);
        }

        @include respond-to(medium-up) {
            @include column-no-gutter(7);        
        }
    }

    &-aside {       
        margin-bottom: vr-space(1);

        @include respond-to(extra-small) {
            @include column(12);
        }

        @include respond-to(medium-up) {
            @include column(5);
            margin-top: vr-space(4.5);
        }
    }
}

.post {
    margin-bottom: vr-space(1);

    p {
        margin: {
            top: 1em;
            bottom: 1em;
        }
    }
}