//
// Blog post page.
// --------------------------------------------------

// Base
// ------------------------
@import
    "../../base/base",
    "../../base/code";

// Objects
// ------------------------
@import "../../objects/lists";

// Components
// ------------------------
@import
    "../../components/header",
    "../../components/footer",
    "../../components/links-list",
    "../../components/author",
    "../../components/buttons",
    "../../components/page-title";

// Utilities
// ------------------------
@import
    "../../utilities/colours",
    "../../utilities/grid",
    "../../utilities/typography",
    "../../utilities/social",
    "../../utilities/floats",
    "../../utilities/display",
    "../../utilities/margin";

// Post article styling.
// We must style elements.
article {
    @include vr-line-height($factor: 1.2);
    font-size: $article-base-font-size;

    h2,
    h3,
    footer {
        margin: {
            top: $base-line-height;
            bottom: $base-line-height;
        }
    }

    p {
        margin: {
            top: 1em;
            bottom: 1em;
        }
    }

    h2,
    h3,
    h4 {
        text-transform: uppercase;
    }

    a {
        color: $cursive;

        &:hover {
            text-decoration: underline;
            color: $cursive;
        }
    }
}

.image-center {
    margin: 0 auto;
    display: block;
}

.metaData {
    padding-top: $base-line-height * 2;
}
