//
// Blog post page.
// --------------------------------------------------

// Base
// ------------------------
@import 
        "../../base/base", 
        "../../base/code";

// Objects
// ------------------------
@import "../../objects/lists";

// Components
// ------------------------
@import 
        "../../components/header", 
        "../../components/footer", 
        "../../components/links-list", 
        "../../components/author", 
        "../../components/buttons", 
        "../../components/article-content", 
        "../../components/page-title";

// Utilities
// ------------------------
@import 
        "../../utilities/colours", 
        "../../utilities/grid", 
        "../../utilities/typography", 
        "../../utilities/social", 
        "../../utilities/floats", 
        "../../utilities/display", 
         "../../utilities/margin";

article {
    @include vr-line-height($factor: 1.2);
    font-size: $article-base-font-size;

    footer {
        margin: {
            top: $base-line-height;
            bottom: $base-line-height;
        }
    }

    a {
        color: $article-link;

        &:hover {
            text-decoration: underline;
            color: $cursive;
        }
    }

    p {
        margin: {
            top: 1em;
            bottom: 1em;
        }
    }
}

.image-center {
    margin: 0 auto;
    display: block;
}

.metaData {
    padding-top: $base-line-height * 2;
}
