/*$base-line-height: 2;*/
.listInline > li {
  display: inline-block; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 1.5; }

.h1 {
  font-size: 24px !important;
  font-size: 2.4rem !important; }
  @media screen and (min-width: 54.1rem) {
    .h1 {
      font-size: 36px !important;
      font-size: 3.6rem !important; } }

h2 {
  font-size: 2rem; }
  @media screen and (min-width: 54.1rem) {
    h2 {
      font-size: 4.8rem; } }

img {
  max-width: 100%;
  vertical-align: middle; }

h1, h2, ul {
  margin: 0; }

ul, ol {
  list-style-type: none;
  padding-left: 0; }

label, input[type=submit] {
  display: block;
  margin-top: 1em; }

input[type=text], input[type=email], input[type=url], textarea {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=text], input[type=email], input[type=url] {
  height: 2em; }

textarea {
  height: 7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #63B7F6; }

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 2rem; }

.wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 1440px; }

.link {
  text-decoration: underline; }

.header {
  border-bottom: 10px solid #60646D; }
  @media only screen and (max-width: 767px) {
    .header {
      border-bottom-width: 5px; } }

.header-logo {
  font-size: 4.8rem;
  color: #60646D;
  float: left; }
  @media only screen and (max-width: 767px) {
    .header-logo {
      font-size: 2.4rem; } }

.header-nav {
  float: right; }

.header-nav-link {
  font-size: 1.8rem;
  line-height: 4;
  color: #60646D;
  margin-left: 24px; }
  @media only screen and (max-width: 767px) {
    .header-nav-link {
      line-height: 2; } }
  .header-nav-link:first-child {
    margin-left: 0; }

.footer {
  color: #FFFFF7; }

.footer-copyright {
  text-align: center; }

.linksList {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  .linksList:before, .linksList:after {
    content: " ";
    display: table; }
  .linksList:after {
    clear: both; }

@media only screen and (max-width: 767px) {
  .linksList-items {
    float: left;
    width: 100%;
    margin-left: 2.2988505747%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin-left: 0; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .linksList-items {
    float: left;
    width: 48.8505747126%;
    margin-left: 2.2988505747%;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    .linksList-items:nth-of-type(odd) {
      margin-left: 0; } }
@media only screen and (min-width: 992px) {
  .linksList-items {
    float: left;
    width: 31.8007662835%;
    margin-left: 2.2988505747%;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    .linksList-items:first-child {
      margin-left: 0; } }

@media only screen and (min-width: 992px) {
  .linksList-items--posts {
    padding-left: 12px;
    padding-right: 12px; }
    .linksList-items--posts:first-child {
      padding-left: 0; } }

@media only screen and (min-width: 992px) {
  .linksList-items--social {
    text-align: right; } }

.linksList-item {
  border-bottom: 1px solid rgba(153, 153, 153, 0.8);
  padding-top: 24px;
  padding-bottom: 12px; }

.linksList-link {
  color: #FFFFF7;
  overflow: hidden;
  display: inline-block;
  height: 48px; }

.pageTitle {
  background-color: #83D6DE;
  position: relative; }

.pageTitle-headline {
  font-size: 6rem;
  line-height: 1.5;
  color: #FFFFF7;
  font-weight: 700;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  display: block; }
  @media only screen and (max-width: 767px) {
    .pageTitle-headline {
      font-size: 4.8rem; } }

@media only screen and (max-width: 767px) {
  .pageTitle-headline--sm {
    font-size: 2.4rem; } }

.pageTitle-subline {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  text-align: center;
  color: #FFFFFF; }
  @media only screen and (max-width: 767px) {
    .pageTitle-subline {
      font-size: 1.6rem; } }

.has-triangle {
  position: relative; }
  .has-triangle:after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 80px;
    border-width: 24px 24px 0;
    border-style: solid;
    border-color: #83D6DE transparent;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .has-triangle:after {
        border-width: 18px 18px 0;
        bottom: -18px; } }

.takeYourDesire {
  background-color: #FF6766; }

.illStayHere {
  background-color: #60646D; }

.marshmallow {
  background-color: #FFFFF7; }

.cursive {
  background-color: #83D6DE; }

.fern {
  background-color: #97CE68; }

.cloudyBlue {
  background-color: #ECF0F1; }

.alto {
  background-color: #DFDFDF; }

.layoutContainer {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px; }

.layoutContainer--visible {
  overflow: visible; }

.h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.5; }

.h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5; }

.h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5; }

.h4 {
  font-size: 1.6rem;
  line-height: 1.5; }

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.visuallyHidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.social {
  background-image: url(../../../images/social.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  display: block; }
  .social.linkedIn {
    background-position: 0 -33px; }
  .social.google {
    background-position: 0 0; }
  .social.rss {
    background-position: 0 -66px; }
  .social.twitter {
    background-position: 0 -99px; }

.m-r--full {
  margin-right: 24px; }

.m-b--full {
  margin-bottom: 24px; }

.m-t--full {
  margin-top: 24px; }

.m-tb--full {
  margin-top: 24px;
  margin-bottom: 24px; }

.subTitle {
  padding-top: 48px; }

/*# sourceMappingURL=landingpage.css.map */