@model IAmBacon.ViewModels.Shared.PopularPostViewModel
<li class="linksList-item">
    @Html.RouteLink(Model.Title, "BlogPost", new { title = Model.SeoTitle }, new { @class = "linksList-link" })
</li>