/*==========================================================
 * Header - Posts layout header
 *==========================================================*/
.header {
  overflow: hidden;
  border-bottom: 2px solid #333333;
}

.header h1 {
  font-family: 'Rokkitt', serif;
  color: #333333;
}