html {
	font-size: $html-font-size-percentage;
}

body {
	font-family: $base-font-family;
	color: $body-color;
	background-color: $page-background-colour;
	@include font-size($base-font-size);
	@include line-height-proportional;
}

h1,
.h1 {
	font-size: 24px !important;
	font-size: 2.4rem !important;

	@include media-min($min-width-541px) {
		font-size: 36px !important;
		font-size: 3.6rem !important;
	}
}

h2 {
	@include font-size($h2-font-size-mobile);

	@include media-min($min-width-541px) {
		@include font-size($h2-font-size);
	}
}

img {
	max-width: 100%;
	vertical-align: middle; // Setting `vertical-align` removes the whitespace that appears under `img` elements
}

h2,
ul {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	padding-left: 0;
}

label,
input[type=submit] {
	display: block;
	margin-top: 1em;
}

input[type=text],
input[type=email],
input[type=url],
textarea {
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	@include box-sizing();
}

input[type=text],
input[type=email],
input[type=url] {
	height: 2em;
}

textarea {
	height: 7em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		color: $link-hover-colour;
	}
}

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	@include font-size($blockquote-font-size);
}

.wrapper {
	margin: 0 auto;
	text-align: left;
	max-width: 1440px;
}

.link {
	text-decoration: underline;
}
