@model IAmBacon.ViewModels.Shared.FooterViewModel
<footer class="footer illStayHere co">
    <div class="layoutContainer">
        <div class="linksList">
            @if (Model.ShowRecentPosts)
            {
                <div class="linksList-items linksList-items--posts">
                    <h3 class="h3 m-b--none">Recent posts</h3>
                    <ol>
                        @Html.DisplayFor(x => Model.RecentPosts)
                    </ol>
                </div>
            }
            @if (Model.ShowPopularPosts)
            {
                <div class="linksList-items linksList-items--posts">
                    <h3 class="h3 m-b--none">Popular posts</h3>
                    <ol>
                        @Html.DisplayFor(x => Model.PopularPosts)
                    </ol>
                </div>
            }
            <div class="linksList-items linksList-items--social">
                <h3 class="h3">Let's be social</h3>
                @{Html.RenderPartial("_SocialLinks");}
            </div>
        </div>
    </div>
    <p class="footer-copyright cursive">&copy; Copyright @DateTime.Now.Year Colin Bacon</p>
</footer>