<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="GoogleAnalyticsAccount" value="UA-29388254-1"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
      <machineKey validationKey="D174ED7A14943F86F1B2D9A072B2A751FE58028706F1EA20E8DC51D0A465B37C90B82BD06C2B1B7E7B871904220AA4730CD14743EAF6F50E84DDA544C1F88AFE" decryptionKey="82822C38B7C36C23BDEDE3685A690EAF11BFBE369DF63A10578BBF2C88EB6ABE"
                  validation="SHA1"
                  decryption="AES"
                  xdt:Transform="Insert" />
    </system.web>
  </location>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network">
        <network host="smtp.123-reg.co.uk" port="25" userName="email@iambacon.co.uk" password="SiteEm4iler" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>