<h1>Admin Dashboard</h1>
<h3>User Admin</h3>
<ul>
    <li>
        <a asp-controller="User" asp-action="Index">View Users</a>
    </li>
</ul>
<h3>Post Admin</h3>
<ul>
    <li>
        <a asp-controller="Post" asp-action="Index">View Posts</a>
    </li>
</ul>
<h3>Categories</h3>
<ul>
    <li>
        <a asp-controller="Category" asp-action="Index">View Categories</a>
    </li>
</ul>
<h3>Tags</h3>
<ul>
    <li>
        <a asp-controller="Tag" asp-action="Index">View Tags</a>
    </li>
</ul>