//
// Home page.
// --------------------------------------------------

// Base
// ------------------------
@import "../../base/base";

// Objects
// ------------------------
@import "../../objects/lists";

// Utilities
// ------------------------
@import "../../utilities/colours";
@import "../../utilities/typography";
@import "../../utilities/floats";
@import "../../utilities/social";
@import "../../utilities/margin";

// Page
// ------------------------
body {
	@include respond-to(extra-small) {
		@include font-size($h4-font-size);
	}
}

.pageTitle {
	background-color: $cursive;
	position: relative;
}

.pageTitle-text {
	@include font-size($h1-font-size);
	@include line-height-proportional;
	color: $marshmallow;
	font-weight: 700;
	margin: 0;
	padding-top: $base-line-height;
	padding-bottom: $base-line-height;
	text-align: center;
	display: block;

	@include respond-to(extra-small) {
		@include font-size($h2-font-size);
	}
}

.triangle {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: -24px;
		left: 80px;
		border-width: 24px 24px 0;
		border-style: solid;
		border-color: $cursive transparent;
		z-index: 1;

		@include respond-to(extra-small) {
			border-width: 18px 18px 0;
			bottom: -18px;
		}
	}
}

.profile {
	position: relative;
}
.profile-image {
	height: 140px;
	width: 140px;
	border-radius: 100%;
	position: absolute;
	right: 0;
	margin-top: -70px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.profile-desc {
	color: $nobel;	
	padding-bottom: $base-line-height;
	padding-top: $base-line-height;
}

.intro-desc {
	@include font-size(50px);
	@include line-height-proportional;
	margin-bottom: $base-line-height;
	margin-top: $base-line-height;

	@include respond-to(extra-small) {
		@include font-size(40px * 0.67);
	}
}

.intro-block {
	display: block;
	padding-left: 5px;
}

.intro-link,
.link {
	text-decoration: underline;
	color: $cursive;
}

.header {
	border-bottom: 10px solid $ill-stay-here;

	@include respond-to(extra-small) {
		border-bottom-width: 5px;
	}
}

.header-logo {
	@include font-size($h2-font-size);
	color: $ill-stay-here;
	float: left;

	@include respond-to(extra-small) {
		@include font-size($h3-font-size);
	}
}

.header-nav {
	float: right;
}

.header-nav-link {
	@include font-size(18px); // Todo this isn't a standard size.  Need to sort.
	line-height: 4; // magic number need to sort.
	color: $ill-stay-here;
	margin-left: $base-line-height;

	@include respond-to(extra-small) {
		line-height: 2;
	}

	&:first-child {
		margin-left: 0;
	}
}

.footer {
	color: $marshmallow;
}

.footer-copyright {
	text-align: center;
}

.layoutContainer {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: $base-line-height * 0.5;
	padding-right: $base-line-height * 0.5;
}

.layoutContainer--visible {
	overflow: visible;
}

.linksList {
	@include container;
}

.linksList-items {
	@include respond-to(extra-small) {
		@include column(12);
	}

	@include respond-to(small) {
		@include column(6);
	}

	@include respond-to(medium-large) {
		@include column(4);
	}
}

.linksList-items--posts {
	@include respond-to(medium-large) {
		padding-left: $base-line-height * 0.5;
		padding-right: $base-line-height * 0.5;

		&:first-child {
			padding-left: 0;
		}
	}
}

.linksList-items--social {
	@include respond-to(medium-large) {
		text-align: right;
	}
}

.linksList-item {
	border-bottom: 1px solid rgba($nobel, .8);
	padding-top: $base-line-height;
	padding-bottom: $base-line-height * 0.5; // TODO: Should this be a utility or mixin (padding)?
}

.linksList-link {
	color: $marshmallow;
	overflow: hidden;
	display: inline-block;
	height: $base-line-height * 2;
}
