//
// Home page.
// --------------------------------------------------

// Base
// ------------------------
@import "../../base/base";

// Objects
// ------------------------
@import "../../objects/lists";

// Components
// ------------------------
@import "../../components/header",
        "../../components/footer",
        "../../components/links-list",
        "../../components/page-title",
        "../../components/tag",
        "../../components/page-section",
        "../../components/article";

// Utilities
// ------------------------
@import "../../utilities/colours";
@import "../../utilities/typography";
@import "../../utilities/floats";
@import "../../utilities/social";
@import "../../utilities/tables";
@import "../../utilities/grid";
@import "../../utilities/margin"; // Margin must go after grid to avoid specificity problems

// Page
// ------------------------
body {
    @include respond-to(extra-small) {
        @include font-size($h4-font-size);
    }
}

.profile {
    position: relative;
}

.profile-image {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    margin-top: -70px;
}

.profile-desc {
    color: $nobel;
    padding-bottom: $base-line-height;
    padding-top: $base-line-height;
}

.intro-desc {
    @include font-size(50px);
    @include line-height-proportional;
    margin-bottom: $base-line-height;
    margin-top: $base-line-height;

    @include respond-to(extra-small) {
        @include font-size(40px * 0.67);
    }
}

.intro-block {
    display: block;
    padding-left: 5px;
}

.link {
    text-decoration: underline;
    color: $cursive;
}

.g-article {
    @include respond-to(extra-small) {
        @include column(12);
    }

    @include respond-to(small-up) {
        @include column(6);
    }
}
