@model IAmBacon.Admin.ViewModels.Account.ForgotPasswordViewModel

<h2>Forgot your password?</h2>
<h4>Enter your email.</h4>
<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <button type="submit">Submit</button>
</form>