@model IAmBacon.Admin.ViewModels.Account.ResetPasswordViewModel

<h1>Reset Password</h1>
<h4>Reset your password.</h4>
<hr />
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Code" type="hidden" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Reset</button>
</form>